extends layout

block content
  h1= title
  p Welcome to #{title}
  p Vous avez actuellement #{nbTaches} taches en cours
  p Ceci est la page d'accueil
  ul
    li
      a(href='/taches') Ceci est un lien vers la Liste des taches