extends layout

block content
  h1= title
  p Ceci est la liste des tâches
    ul
      each tache in listeDesTaches
        li= tache.libelle

  p
    button(type="button", id="ok") Ajout d'une nouvelle tache


    div#ajout(style='display:none')
        form(method='POST' action='/taches')
            label(for='libelle') Libelle
            input(type='text', placeholder='nouvelle tâche', name='libelle')
            button(type='submit') Ajouter

            script.
                document.getElementById("ok").addEventListener("click", test);